*{
  padding: 0;
  margin: 0;
}

main{
  background: #e1e4eb;
  height: 100vh;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #f4f4f4;
  padding: 100px 150px;
  border-radius: 8px;
  text-align: center;
}

.content{
  display: flex;
}

.content .nHorario{
  width: 70px;
  padding: 20px;
  background-image: radial-gradient(circle, #7230d3, #7230d8, #722fdd, #722fe3, #722fe8);
  box-shadow: rgba(114,48,211,1) 0px 3px 8px;
  border-radius: 8px;
  color: #f4f4f4;
  font-size: 68px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.content .pHorario{
  padding: 20px 10px;
  font-size: 68px;
  color: #a990d8; 
}

.container a{
position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
 text-decoration: none;
 color:#a990d8 ;
 font-family: 'Oswald', sans-serif;
}

@media (max-width: 600px){
  .container{
    padding: 50px 20px;
  }

  .content .nHorario{
    margin: auto;
    padding: 25px 5px;
    font-size: 28px;
  }
  .content .pHorario{
    padding: 11px 5px;
    font-size: 50px;
    color: #a990d8; 
    text-align: center;
  }
}

